route[SET_SOCKET] {
    #from the internal use internal udp socket
    if(isflagset(FLT_FROM_CORE)){
        force_send_socket(PUBLIC_UDP_SOCKET);
        xlog("L_INFO", "setting outbound socket to public udp socket");
        return 1;
    }

    #from public use the core public udp socket
    if(isflagset(FLT_FROM_PUBLIC)){
        force_send_socket(CORE_UDP_SOCKET);
        xlog("L_INFO", "setting outbound socket to core udp socket");
        return 1;
    }
}